*.BAK
*.bak
*.elc
*.eld
*.orig
*.pyc
*.pyo
*.rej
*~
.newsrc-dribble
.yas-compiled-snippets.el
/.byte-compile-timestamp
/.cache/
/ac-comphist.dat
/auto-save-list/
/backups/
/bin/
/elfeed/
/elpa/
/emacs.desktop
/eshell/
/games/
/gnus/
/image-dired/
/include/
/lib/
/local/
/network-security.data
/projectile.cache
/tramp
/url/cookies
\#*
__pycache__/
loaddefs.el
